.minion-rtl body {
  direction: rtl;
  text-align: right;  
}
/* base.css */
.minion-rtl .link:not(.link-only-svg) svg:first-child{
  margin-right: inherit;
  margin-left: 10px;
}
.minion-rtl .text-left {
    text-align: inherit!important;
    text-align: right;
}
.minion-rtl .animation-underline:before{
  left: unset;
  right: 0;
}
.minion-rtl .btn-small:before, .btn-medium:before, 
.minion-rtl .btn-medium--icon>span:before{
  left: inherit;
  right: 0;
}
.minion-rtl .btn-medium svg:last-child:not(:only-child) {
 margin-left: unset;
 margin-right: 5px;
}
.minion-rtl .btn-medium svg:not(:last-child), 
.minion-rtl .btn svg:not(:last-child) {
  margin-right: inherit;
  margin-left: 10px;
}
.minion-rtl .btn svg:last-child:not(:only-child) {
  margin-left: inherit;
  margin-right: 10px;
}
.minion-rtl .badge--fixed{
  left: inherit;
  right: 10px;
}
.minion-rtl table thead {
    text-align: right;
}
.minion-rtl table tr th:first-child, 
.minion-rtl table tr td:first-child{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    padding-left: inherit;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);    
    padding-right: 15px;
}
.minion-rtl table tr th:last-child, 
.minion-rtl table tr td:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-right: inherit;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    padding-left: 15px;
}
.minion-rtl .free-delivery-bar__toolbar:after{
    left: unset;
    right: 0;
}
/*
  Header
*/
/* section-header.css */
.minion-rtl .header__button+.header__button {
  margin-left: inherit;
  margin-right: 41px;
}
.minion-rtl  .header__button+.header__button:before{
  left: inherit;
  right: -21px;
}
.minion-rtl .logo-to-left--mobile .drawer__icon-menu{
  padding-right:10px;
}
.minion-rtl .logo-to-left--mobile .menu-drawer__close-button {
  justify-content: flex-start;
}
.minion-rtl .tiles-menu .submenu--to-left:not(.submenu--megamenu)>[class*=submenu-design__] {
  left: inherit;
  right: -5px;
}
/*component-vertical-menu.css*/
.minion-rtl .vertical-menu-item svg:first-child{
  margin-right: inherit;
  margin-left: 10px;
}
.minion-rtl .vertical-menu-item svg:last-child {
  margin-left: inherit;
  margin-right: auto;
  transform: rotate(180deg);
}
.minion-rtl .vertical-menu .megamenu-container{
  left: inherit;
  right: 100%;
}
.minion-rtl .vertical-menu .submenu-container.submenu--megamenu .submenu-design__megamenu{
  left:inherit;
  right:10px;
  transition-property: right;
  transition-duration: var(--duration-medium);
  transition-timing-function: ease;
}
.minion-rtl .vertical-menu .submenu-container.submenu--megamenu:hover .submenu-design__megamenu{
  left:inherit;
  right:0px;
} 
.minion-rtl .vertical-menu .vertical-menu--hover>.submenu-design__simple {    
  left: unset;
  right: calc(100% + 10px);
}
.minion-rtl .vertical-menu .vertical-menu--hover:hover>[class*=submenu-design__] {
    left: unset;
    right: 100%;
}
.minion-rtl [class*=submenu-design__]{
  transition: opacity var(--duration-medium) ease,top var(--duration-medium) ease,left var(--duration-medium) ease,right var(--duration-medium) ease,visibility var(--duration-medium) ease
}
@media (min-width: 993px){
  .minion-rtl [data-menu-in-content]>*:first-child>div, [data-menu-in-content="2"]>*:nth-child(2)>div{
    padding-left: calc(var(--page-padding) / 2);
    padding-right: calc(20% + var(--page-padding) / 2);
  }  
}
/* component-predictive-search.css */
.minion-rtl .predictive-search__item{
  text-align: right;
}
@media (min-width: 993px){
  .minion-rtl #predictive-search-results-queries-list .predictive-search__item, 
  .minion-rtl [id*=predictive-search-results-pages-list-] .predictive-search__list-item .predictive-search__item{        
    padding-left:20px;
    padding-right:0px;
  } 
}
.minion-rtl #predictive-search-option-search-keywords button svg{
   transform: rotate(180deg);
}
/* component-inputs.css */
.minion-rtl .field__button{
  padding-right:15px;
  right: inherit;
  left: 0;
}
.minion-rtl .field__button svg{
   -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH"; 
}
.minion-rtl .field__icon{
  left: inherit;
  right: 15px;
}
.minion-rtl .field-with-icon .field__label{
  left: inherit;
  right: 45px;
}
.minion-rtl .field__label{
  left: inherit;
  right: 15px;
}
.minion-rtl .field__icon--select{
  right: inherit;
  left: 15px;
}
.minion-rtl .field__input{
  padding-left: inherit;
  padding-right: 15px;
}
.minion-rtl .field__input[type=number] {  
  padding-left: 15px;
}
.minion-rtl .field-with-icon .field__input{
  padding-right: 45px;
  padding-left: 15px;  
}
.minion-rtl .field__button__type2{
  left: auto;
  right: 0;
}
.minion-rtl .checkbox-input__flip{
  margin-right: unset;
  margin-left: 7px;	
}
.minion-rtl .checkbox-input input[type=checkbox]{
    left: inherit;
    right: 0;
}
.minion-rtl .checkbox-input>span{
  direction: ltr;
}
/* component-list-menu.css*/
.minion-rtl .list-menu__item svg{
  margin-left: inherit;
  margin-right: 5px;
}
.minion-rtl .menu--animation-underline .list-menu__item>span:before{
  left: unset;
  right: 0;
}
/*component-cart-drawer.css*/
.minion-rtl .drawer__inner{
  margin-left: inherit;
  margin-right: auto;
  left: inherit;
  right: 100%;
}
.minion-rtl .cart-drawer-container.active .drawer__inner{
  right: 0;
  transition-property: right;
  transition-duration: var(--duration-medium);
  transition-timing-function:  var(--animation-bezier);
}
.minion-rtl .drawer__close{
  right: unset;
  left: 0;
  padding-left:20px;
  padding-right:5px;  
}
.minion-rtl .cart-drawer #cart-errors, 
.minion-rtl .cart-drawer .cart__footer__content {
    text-align: right;
}
.minion-rtl .drawer__cart-item__totals { 
    text-align: left;
}
@media (min-width: 993px){
  .minion-rtl .drawer__cart-item__totals {
    padding-right: unset;
    padding-left: 10px;
  }
}
@media (max-width: 992px){
  .minion-rtl .drawer__close:hover:after {
    left:unset;
    right: -7px;
  }
}
/*
  component-menu-drawer.css
*/
.minion-rtl .menu-drawer{
  left:unset;
  right: 0;
  transform: translate(100%);
}
.minion-rtl .menu-drawer__menu-item svg:first-child{
  margin-right: unset;
  margin-left: 10px;
}
.minion-rtl .menu-drawer__menu-item svg:last-child:not(:first-child){
  margin-left: unset;
  margin-right: auto;
}
.minion-rtl .menu-drawer__menu-item svg:not(:first-child){
   transform: rotate(180deg);
}
.minion-rtl .menu-drawer .menu-icon-image {
  margin-right: unset;
  margin-left: 10px;
}
/* component-menu-submenu.css*/
.minion-rtl [class*=submenu-design__] .submenu__item svg{
  transform: rotate(180deg);
}
.minion-rtl .submenu-container .submenu-container [class*=submenu-design__], 
.minion-rtl .submenu-container .submenu-container [class*=submenu-design__] .submenu-container [class*=submenu-design__]{
  left: unset;
  right: 100%;
}
.minion-rtl .submenu-container .submenu__item>span:before{
  left: unset;
  right: 0;
}
/*
  Footer
*/
.minion-rtl .text-left .text-columns-img__icon{
  margin-right: inherit;
  margin-left: 20px;
}
/* section-footer.css */
.minion-rtl .footer__payment ul{
  margin-right: inherit;
  margin-left: -5px;
}
.minion-rtl .footer__localization{
  margin-left: inherit;
  margin-right: -5px;
}
.minion-rtl .footer__localization .field__input {
  padding-right: 15px;
  padding-left: 37px;
}
@media (min-width: 577px){
  .minion-rtl .footer__content-bottom--right {
        text-align: left;
  }
}
@media (max-width: 576px){
  .minion-rtl .footer__accordion__heading svg:last-child {
      margin-left: inherit;
      margin-right: auto;
  }
}
/*
  breadcrumb
*/
.minion-rtl .breadcrumb li svg{
   -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH"; 
}
/*
  ticker-section
*/
.minion-rtl [data-section-name="ticker"]{
  direction: ltr;
  text-align: left;
}
/*
  Collections Page
*/
/* component-toggle.css (*aside col)*/
.minion-rtl .chm-toggle__button svg:last-child{  
  margin-left: unset;
  margin-right: auto;
}
.minion-rtl .chm-toggle__button svg:first-child {
  margin-right: unset;
  margin-left: 10px;
}
/* component-facets--horizontal.css */
.minion-rtl .facets__display{
  left:inherit;
  right:0;
}
.minion-rtl .facets__horizontal .facets__wrapper>*{
  margin-right: inherit;
  margin-left: 20px;
}
/* component-facets.css */
.minion-rtl .collection-toolbar__left{
  margin-right:0;
}
.minion-rtl .mobile-facets{
  transform: translate(100%);
  left:inherit;
  right: 0;
}
.minion-rtl .mobile-facets__item svg:last-child:not(:first-child) {
  margin-right: auto;
  margin-left: inherit;
}
.minion-rtl .mobile-facets__item > svg{
  transform: rotate(180deg);
}
@media (min-width: 577px) and (max-width: 992px){
  .minion-rtl .mobile-facets__close {
    left:unset;
    right: calc(50% - 65px);
  }
}
@media (min-width: 391px) and (max-width: 576px){
  .minion-rtl .mobile-facets__close {
    left: unset;
    right: 275px;
  }
}
@media (max-width: 390px){
  .minion-rtl .mobile-facets__close {
    left: unset;
    right: calc(100% - 115px);
  }
}
.minion-rtl .mobile-facets__footer .btn, .mobile-facets__footer noscript {
  margin-left:inherit;
  margin-right: auto;
}
.minion-rtl .facet-checkbox input[type=checkbox]{
  left: unset;
  right: 0;
}
.minion-rtl .facet-filters__sort .field__input {
  padding-right: 15px;
  padding-left: 37px;
}
.minion-rtl .facet-checkbox__flip {    
  margin-right: inherit;
  margin-left: 7px;
}
.minion-rtl .facet-checkbox input:checked+.facet-checkbox__checkmark .facet-checkbox__flip {
    transform: rotateY(-180deg);
}
.minion-rtl .active-facets__button-wrapper {
  margin-left: inherit;
  margin-right: 15px;
}
@media (min-width: 993px){
  .minion-rtl .collection-toolbar:not(.collection-toolbar--layout2) .active-facets {
    padding-right: inherit;
    padding-left: 20px;
  }
}
.minion-rtl .facet-checkbox .facet-checkbox__count{
  padding-left: 0px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: inherit;
}
@media (min-width: 993px){
  .minion-rtl .facets__horizontal+.product-count~.facet-filters__sort {    
    margin-right: 20px;
  } 
  .minion-rtl .facet-filters__sort {
    margin-right: auto;
  }
  .minion-rtl .facets__horizontal+.product-count {
     margin-left: inherit;
     margin-right: auto;
  }
  .minion-rtl .facets__horizontal {   
    padding-left: var(--page-padding);
    padding-right: calc(var(--page-padding) / 2);    
  }
  .minion-rtl .collection-toolbar>*:last-child {
    margin-left: calc(var(--page-padding) / 2) !important;
  }
}
.minion-rtl .active-facets{  
  margin-left:inherit;
  margin-right:-5px;
}
/* disclosure.css */
.minion-rtl .disclosure__list--to__bottom{
  right: inherit;
  left: 0;
}
/* component-modal.css */
@media (min-width: 577px) and (max-width: 992px){
  .minion-rtl .popup-modal__toggle {
    padding-right: unset;
    padding-left: 30px;
  }
}
@media (max-width: 992px){
  .minion-rtl .popup-modal__content {
    left: unset;
    right: 100%;
    transition-property: right;
    transition-duration: var(--duration-medium);
    transition-timing-function: var(--animation-bezier);
  }
  .minion-rtl .popup-modal[open] .popup-modal__content {
    left: unset;
    right:0;
  }  
  .minion-rtl .popup-modal__toggle:hover:after{
    left: unset;
    right: -7px;
  }
}
.minion-rtl .popup-modal__toggle{
  padding: 20px 5px 5px 20px;
}
.minion-rtl .popup-modal__toggle{
  right:unset;
  left:0;
}
.minion-rtl quick-add-modal .product__view-details svg{
 transform: rotateY(-180deg);
}
/* component-facets--vertical.css*/
.minion-rtl .facets__selected {
  padding-right: unset;
  padding-left: 20px;
}
@media (min-width: 993px){
  .minion-rtl .product-form__add-to-cart quantity-input {   
      margin-right: inherit;
      margin-left: 20px;
  }
}
/* component-pagination.css */
.minion-rtl .pagination__item--next{
  transform: rotateY(-180deg);
  justify-content: flex-start;  
}
.minion-rtl .pagination__item--prev{
  transform: rotateY(-180deg);
  justify-content: flex-end;
}
/*
  Single Product (*section-main-product.css)
*/
.minion-rtl .product-card-complementary .price__regular {
  text-align: right;
}
.minion-rtl .product__text svg{
  margin-right: inherit;
  margin-left: 10px;
}
.minion-rtl .variants-label .variants-modal__button{
  margin-left: inherit;
  margin-right: 10px;
}
.minion-rtl .additional-feature>*:nth-child(2) {
  margin-left: inherit;
  margin-right: 15px;
}
.minion-rtl .btn.product-form__submit__hide-text svg:not(:last-child) {
    margin-right: inherit;
    margin-left: 0;
}
@media (min-width: 993px){
  .minion-rtl .thumbnail-slider__list{
    padding-right: inherit;
    padding-left: 10px;
  }
  .minion-rtl .col-7--padding-right {
    padding-right: calc(var(--page-padding) / 2);
    padding-left: calc(60px + var(--page-padding) / 2);
  }
  .minion-rtl .grid:not(.flip-product-content) .thumbnail-slider.slider__buttons {    
    left: inherit;
    right: 0;
  }
  .minion-rtl .grid:not(.flip-product-content) .slider-mobile-product.slider-mobile-product--padding-left {
    margin-left: inherit;
    margin-right: 100px;
  }
  .minion-rtl .col-6--padding-right {
    padding-left: calc(30px + var(--page-padding) / 2);
    padding-right: calc(var(--page-padding) / 2);
  }
  .minion-rtl .col-6--padding-left {
    padding-left: calc(var(--page-padding) / 2);
    padding-right: calc(30px + var(--page-padding) / 2);
  }
  .minion-rtl .cart-right-medium,
  .minion-rtl .cart-right-large{
    padding-left: 0;
    padding-right: calc(30px + var(--page-padding) / 2);
  }
  .minion-rtl .col-7--padding-left {
    padding-left: calc(var(--page-padding) / 2);
    padding-right: calc(60px + var(--page-padding) / 2);
  }
  .minion-rtl .flip-product-content .col-7--padding-left {
    padding-right: calc(var(--page-padding) / 2);
    padding-left: calc(60px + var(--page-padding) / 2);
  }
  .minion-rtl .flip-product-content .col-6--padding-right {
    padding-right: calc(20px + var(--page-padding) / 2);
    padding-left: calc(var(--page-padding) / 2);
  }
  .minion-rtl .flip-product-content .col-6--padding-left {
    padding-right: calc(var(--page-padding) / 2);
    padding-left: calc(20px + var(--page-padding) / 2);
  }
  .minion-rtl .flip-product-content .col-7--padding-right {
    padding-right: calc(60px + var(--page-padding) / 2);
    padding-left: calc(var(--page-padding) / 2);
  }
  .minion-rtl .flip-product-content .col-7--padding-right.quick-add-modal,
  .minion-rtl .flip-product-content .col-6--padding-right.quick-add-modal {
      padding-right: 40px;
      padding-left: calc(var(--page-padding) / 2);
  }
}
.minion-rtl .product__media-icon {     
    right: inherit;
    left: 20px;
}
/*component-sticky-addtocart.css*/
.minion-rtl .sticky-cart-select:not(.visibility-hidden) {
  margin-right: inherit;
  margin-left: 10px;
}
@media (min-width: 993px){
  .minion-rtl .cart-right-small { 
    padding-left:unset;
    padding-right: calc(var(--page-padding) / 2);    
  }
}
@media (min-width: 993px){
  .minion-rtl .sticky-cart-right {
    margin-left:0;
    margin-right: auto;
  }
}
/*section-icon-banners.css*/
.minion-rtl .text-left .icon-banners__icon{
  margin-right: inherit;
  margin-left: 20px;
}
/*
  Account Page
*/
.minion-rtl .customer.account .btn-medium svg{
  transform: rotateY(-180deg);
}
.minion-rtl .customer tr td:last-child{
  text-align: left;
}
/*customer.css*/
@media (min-width: 577px){
  .minion-rtl .btns__container>[class*=btn]:not(:first-child) {
      margin-left: inherit;
      margin-right: 30px;
  }
}
.minion-rtl .btns__container>.btn-medium+.btn-medium {
   margin-left: inherit;
  margin-right: 20px;
}
.minion-rtl .customer table tr th{
  text-align:right;
}
.minion-rtl .cart-discount svg, 
.minion-rtl .discount__container li svg {
  margin-right: inherit;
  margin-left: 5px;
}
@media (max-width: 992px){
  .minion-rtl .customer td:before{
    text-align: right;
  }
}

/* component-cart-items.css */
.minion-rtl .cart-item__error svg,
.minion-rtl .discounts__discount svg{
  margin-right: inherit;
  margin-left: 5px;
}
.minion-rtl .title-wrapper-with-link .btn-medium--icon svg{
  transform: rotateY(-180deg);
}
@media (min-width: 993px){
  .minion-rtl .title-wrapper-with-link.heading-left a {
    left: 0;
    right: auto;
  }
}
@media (min-width: 577px) and (max-width: 992px){
  .minion-rtl .cart-remove-button {      
      margin-left: inherit;
      margin-right: 15px;
  }
}
.minion-rtl .thead--right, 
.minion-rtl .cart-item__totals {
    text-align: left;
}
.minion-rtl .cart-remove-button{
  margin-left: inherit;
  margin-right: 15px;
}
@media (max-width: 576px){
  .minion-rtl .cart-remove-button {
    padding-left: 0;
  }
}
/* component-cart.css */
@media (min-width: 577px){
  .minion-rtl #cart-errors, 
  .minion-rtl .cart__footer__content {
    text-align: left;
  }
}
/* component-cart-notification.css*/
.minion-rtl .cart-notification__heading svg{
  margin-right: inherit;
  margin-left: 10px;
}

.minion-rtl #shopify-payment-terms-modal .btn__close{
  right:unset;
  left: 22px;
}
.minion-rtl #shopify-payment-terms-modal .list-item__icon{
  padding-right: unset;
  padding-left: 12px;
}
.minion-rtl .customer table tr td {
    border-radius: 0;
}
.minion-rtl .customer thead th:last-child {
    text-align: left;
}
/*
  Product Item
*/
/* component-product-card.css */
.minion-rtl .btn.btn-quickview svg:not(:last-child) {
    margin-left: 0;
}
/* template-search.css */
.minion-rtl .card-page__badge--static{
  left: inherit;
  right: 10px;
}
/* section-image-with-text.css (* ata-section-name="image-with-text") */
@media (min-width: 993px){
  .minion-rtl .grid.image-with-text--reverse .image-with-text__container{
      padding-right: calc(var(--page-padding) / 2);
      padding-left: 60px;
  }
  .minion-rtl .grid:not(.image-with-text--reverse) .image-with-text__container {
    padding-left: calc(var(--page-padding) / 2);
    padding-right: 60px;
  }
}
.minion-rtl .image-with-text__icon{
  margin-right: inherit;
  margin-left: 20px;
}
/*
  section-password.css
*/
.minion-rtl .footer__content--right {
    text-align: left;
}
/*
  data-section-name="two-columns-with-text"
*/
@media (min-width: 993px){
  .minion-rtl .two-columns-text__brand-images>* {
    margin-right: unset;
    margin-left: 20px;
  }
}
/*
  Main Slider (data-section-name="blog-posts")
*/
.minion-rtl big-slider{
    direction: ltr;
}
.minion-rtl big-slider .big-slider__items {
  direction: rtl;
}
.minion-rtl big-slider .ctrl__button:not(.video-ctrl__play) svg{
  transform: rotateY(-180deg);
}
.minion-rtl big-slider .ctrl__button--right {
    right:unset;
    left: 0;
}
.minion-rtl big-slider .ctrl__button--left {
    left:unset;
    right: 0;
}
@media (min-width: 993px){
  .minion-rtl big-slider .ctrl__button--right {
    left: 10px;
  }
  .minion-rtl big-slider .ctrl__button--left {
    right: 10px;
  }
}
@media (max-width: 992px){    
  .minion-rtl big-slider .video-ctrl__play{
    right: inherit !important;
    left: 10px;    
  }
}
.minion-rtl .slide-video-html{
  direction: ltr;
}
.minion-rtl .border__radius img, 
.minion-rtl .image--radius img{
  border-radius: var(--radius);
}
@media (min-width: 577px){
  .minion-rtl .text-center .collection-list-type2__icon,
  .minion-rtl .collection-list-type2__icon{
    left: 20px;
    right: unset;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
@media (max-width: 576px){
  .minion-rtl .thumbnail-slider__list>*:not(:first-child) {
    margin-right: 10px;
  }
  .minion-rtl .thumbnail-slider__list>*:first-child {
    margin-right: 0;
  }
}
.minion-rtl .quantity-label{
  display: none;
}
@media (max-width: 576px){
  .minion-rtl product-modal.media-modal .popup-modal__toggle {
    right: 10px;
    right: unset;
    left: 10px;
  }
}

.minion-rtl .slider-desktop__buttons__next {
  left: 10px;
  right: unset;
}
.minion-rtl .slider-desktop__buttons__prev {
  left: unset;
  right: 10px;  
}
.minion-rtl [class*="slider-desktop__buttons__"] .btn{
  transform: scaleX(-1);
}
@media (max-width: 992px){
  .minion-rtl .featured-collection-tabs{
    margin-left: unset;
    margin-right: calc(var(--item-padding-value) * -1);
  }
  .minion-rtl .featured-collection-tabs__item:first-child:after {
    left: -15px;
  }
  .minion-rtl .featured-collection-tabs__item:first-child {
    margin-left:unset;
    margin-right: var(--item-padding-value);
  }
  .minion-rtl .featured-collection-tabs__item:last-child {
    margin-right:0;
  }
}
